<div class="center-container-wrapper">
  <div>
    <h1>Create user</h1>
  </div>
  <div class="center-container" id="content">
    <%= render "initial_step" %>
  </div>
  <div class="show-user-btn">
    <%= link_to "Show all users", users_path %>
  </div>
</div>
