<div class="center-container-wrapper">
  <div>
    <h1>Create user</h1>
  </div>
  <div class="center-container">
    <%= turbo_frame_tag 'steps_frame' do %>
      <%= render "form", user: @user %>
    <% end %>
  </div>
  <div class="show-user-btn">
    <%= link_to "Show all users", users_path %>
  </div>
</div>
